ALTER TABLE logistics_offers ADD COLUMN IF NOT EXISTS contact_person text;
ALTER TABLE logistics_offers ADD COLUMN IF NOT EXISTS carrier text;
ALTER TABLE logistics_offers ADD COLUMN IF NOT EXISTS created_at timestamp with time zone DEFAULT now();
